.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    border-radius: 25px;
}

.feature h1 {
    font-size: 20px;
    color: #212353;
    font-weight: 500;
    font-family: Helvetica;
}

.feature p {
    font-size: 16px;
    color: #4B5D68;
    font-weight: 500;
}

.feature img {
    width: 40%;
}

.feature div {
    padding: 30px;
}

.feature a {
    text-decoration: none;
    color: #212353;
    font-size: 18px;
    font-weight: 500;
}