.features {
    width: 60%;
    margin: auto;
    margin-top: 90px;
}

.features>h1 {
    color: #212353;
    font-size: 32px;
    text-align: center;
    margin: 0;
    font-family: Helvetica;
}

.features>p {
    font-size: 18px;
    color: #4B5D68;
    width: 60%;
    margin: 30px auto;
    text-align: center;
    font-weight: 500;
}

.features-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-gap: 20px;
}