.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 100%;
}

.links {
    margin-left: 100px;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4B5D68;
    font-size: 18px;
    font-weight: 500;
}

.active {
    color: #212353 !important;
}